In [124]:
import datetime
import json
import os
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics import *
from collections import defaultdict
from sklearn.metrics import pairwise_distances
from tqdm.auto import tqdm
import pprint

In [129]:
pd.set_option('display.max_rows', 1000)

In [17]:
def cluster_event_match(labels, preds):
    data = pd.DataFrame()
    data["pred"] = preds
    data["label"] = labels

    match = data.groupby(["label", "pred"], sort=False).size().reset_index(name="a")
    b, c = [], []
    for idx, row in match.iterrows():
        b_ = ((data["label"] != row["label"]) & (data["pred"] == row["pred"]))
        b.append(b_.sum())
        c_ = ((data["label"] == row["label"]) & (data["pred"] != row["pred"]))
        c.append(c_.sum())
    match["b"] = pd.Series(b)
    match["c"] = pd.Series(c)
    # recall = nb true positive / (nb true positive + nb false negative)
    match["r"] = match["a"] / (match["a"] + match["c"])
    # precision = nb true positive / (nb true positive + nb false positive)
    match["p"] = match["a"] / (match["a"] + match["b"])
    match["f1"] = 2 * match["r"] * match["p"] / (match["r"] + match["p"])
    match = match.sort_values("f1", ascending=False)
    # macro_average_f1 = match.drop_duplicates("label").f1.mean()
    # macro_average_precision = match.drop_duplicates("label").p.mean()
    # macro_average_recall = match.drop_duplicates("label").r.mean()

    match = match.drop_duplicates("label")
    sizes = match[['a', 'b', 'c']].sum(axis=1)
    proportions = sizes / sizes.sum()
    micro_average_f1 = (match.f1 * proportions).sum()
    micro_average_precision = (match.p * proportions).sum()
    micro_average_recall = (match.r * proportions).sum()
    return micro_average_precision, micro_average_recall, micro_average_f1, match

In [100]:
def print_statistics(tweet_ids, new_preds2, tweets_with_label):
    results = pd.DataFrame()
    results['tweet_id'] = tweet_ids
    results['pred'] = new_preds2
    tweet_with_label_set = dict(zip(tweets_with_label['tweet_id'].astype(str), tweets_with_label['label']))

    rows = []
    tweets_with_labels = 0
    tweets_without_labels = 0
    label_to_tweets = defaultdict(list)
    all_preds = set(results['tweet_id'])
    for t, c in zip(results['tweet_id'], results['pred']):
        if t in tweet_with_label_set:
            rows.append([t, tweet_with_label_set[t], c])
            tweets_with_labels += 1
            label_to_tweets[tweet_with_label_set[t]].append(t)
    for t in tweet_with_label_set:
        if t not in all_preds:
            rows.append([t, tweet_with_label_set[t], -1])
            tweets_without_labels += 1

    output = pd.DataFrame(rows, columns=['tweet_id', 'label', 'pred'])

    ami = adjusted_mutual_info_score(output['label'], output['pred'])
    ari = adjusted_rand_score(output['label'], output['pred'])
    nmi = normalized_mutual_info_score(output['label'], output['pred'])

    print('adjusted_mutual_info', ami)
    print('adjusted_rand', ari)
    print('Normalized Mutal Info:', nmi)
    macro_p, macro_r, macro_f1, match = cluster_event_match(output['label'], output['pred'])
    print('micro_p:', macro_p)
    print('micro_r:', macro_r)
    print('micro_f1:', macro_f1)
    print('#labeled tweets:', tweets_with_labels, '#unlabeled tweets:', tweets_without_labels)
    print('#labels:', len(set(output['label'])), '#preds:', len(set(output['pred'])))
    return match

In [131]:
results_df = pd.read_csv('ensemble_lsh0-7_kmeans/2012-10-11/events_n_clusters2000.csv')
results_df

                   tweet_id     label
0        256182325438738432       0.0
1        256182325413543936  115101.0
2        256182325598117889  115101.0
3        256182325451309057  117697.0
4        256182325354844161  115101.0
...                     ...       ...
1540259  256544709412024320  307722.0
1540260  256544709231652864  264069.0
1540261  256544709328138241  264069.0
1540262  256544709332332544  264069.0
1540263  256544709344886785  177285.0

[1540264 rows x 2 columns]

In [132]:
start_date_str = '2012-10-11'
end_date_str = '2012-10-12'
tweets_with_label = pd.read_csv(f'event_2012_relevant_tweets_{start_date_str}_{end_date_str}.tsv',
                                sep='\t', header=None, names=['label', 'tweet_id'])

In [133]:
results_df = results_df.drop_duplicates(['tweet_id'], keep='first')
tweet_ids = results_df['tweet_id'].astype(str)
new_preds2 = results_df['label']
print_statistics(tweet_ids, new_preds2, tweets_with_label)

c:\users\administrator\python\python36\lib\site-packages\sklearn\metrics\cluster\supervised.py:746: FutureWarning: The behavior of AMI will change in version 0.22. To match the behavior of 'v_measure_score', AMI will use average_method='arithmetic' by default.
  FutureWarning)
c:\users\administrator\python\python36\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

adjusted_mutual_info 0.34971213725274036
adjusted_rand 0.22539874456183873
Normalized Mutal Info: 0.4670552244469603
micro_p: 0.260938794811693
micro_r: 0.5224033672629073
micro_f1: 0.2611243408454601
#labeled tweets: 1739 #unlabeled tweets: 0
#labels: 40 #preds: 209

     label      pred    a    b    c         r         p        f1
335    276  242017.0    1    0    0  1.000000  1.000000  1.000000
23     478  113115.0    1    0    0  1.000000  1.000000  1.000000
337     21  264069.0  134   95   11  0.924138  0.585153  0.716578
53     503  126629.0   19   11    5  0.791667  0.633333  0.703704
357    274  288314.0    1    0    1  0.500000  1.000000  0.666667
173    425  192860.0    2    0    3  0.400000  1.000000  0.571429
261     83  230208.0   90  154    4  0.957447  0.368852  0.532544
24      77  138992.0   23   35    8  0.741935  0.396552  0.516854
131    106  144038.0    7    0   16  0.304348  1.000000  0.466667
158    244  168843.0    7    0   16  0.304348  1.000000  0.466667
121      0  140495.0   95   97  152  0.384615  0.494792  0.432802
208    427  212594.0   71  125   70  0.503546  0.362245  0.421365
83     424  118804.0    9    0   40  0.183673  1.000000  0.310345
123    419  140495.0   46  146   74  0.383333  0.239583  0.294872
247    421  230208.0   46  198   54  0.460000  0.188525  0.267442
134    480  140551.0    3    0   17  0.150000  1.000000  0.260870
36     474  185982.0    1    0    6  0.142857  1.000000  0.250000
64     239  118077.0   18   36   72  0.200000  0.333333  0.250000
324      1  264069.0   34  195   22  0.607143  0.148472  0.238596
12     242   89384.0    1    0    7  0.125000  1.000000  0.222222
3      243  115101.0    8   40   19  0.296296  0.166667  0.213333
252    238  141379.0    1    0    8  0.111111  1.000000  0.200000
207    426  212594.0   31  165   86  0.264957  0.158163  0.198083
67     246  118077.0   12   42   57  0.173913  0.222222  0.195122
6      240   37540.0    3    0   26  0.103448  1.000000  0.187500
33     422  138992.0   14   44   87  0.138614  0.241379  0.176101
299    472  215120.0    1    0   10  0.090909  1.000000  0.166667
148    477  168823.0   16  131   32  0.333333  0.108844  0.164103
286    429  250231.0    9   85   13  0.409091  0.095745  0.155172
276    420  246039.0    1    0   12  0.076923  1.000000  0.142857
302    475  233892.0    1    0   17  0.055556  1.000000  0.105263
323     85  264069.0   12  217    8  0.600000  0.052402  0.096386
206    428  237949.0    1    0   19  0.050000  1.000000  0.095238
226    423  212594.0    9  187   24  0.272727  0.045918  0.078603
112    473  118769.0    1   29    1  0.500000  0.033333  0.062500
59     241  126629.0    1   29    2  0.333333  0.033333  0.060606
229      2  212594.0    5  191    0  1.000000  0.025510  0.049751
1      245  115101.0    1   47    0  1.000000  0.020833  0.040816
213    479  212594.0    2  194    1  0.666667  0.010204  0.020101
350    280  264069.0    1  228    0  1.000000  0.004367  0.008696

In [23]:
results_df.groupby('label').count().describe()

           tweet_id          text
count  21962.000000  21962.000000
mean      70.133139     70.133139
std      108.162121    108.162121
min        1.000000      1.000000
25%        9.000000      9.000000
50%       44.000000     44.000000
75%      100.000000    100.000000
max     3205.000000   3205.000000

In [134]:
label_count = results_df.groupby('label')['tweet_id'].count().reset_index()
filtered_labels = label_count[label_count['tweet_id'] >= 10]

In [135]:
label_count2 = tweets_with_label.groupby('label')['tweet_id'].count().reset_index()
filtered_labels2 = label_count2[label_count2['tweet_id'] >= 10]

In [136]:
df = results_df.drop_duplicates(['tweet_id'], keep='first')
df = df[df['label'].isin(set(filtered_labels['label']))]
tweet_ids = df['tweet_id'].astype(str)
new_preds2 = df['label']
match = print_statistics(tweet_ids, new_preds2, tweets_with_label[tweets_with_label['label'].isin(set(filtered_labels2['label']))])

c:\users\administrator\python\python36\lib\site-packages\sklearn\metrics\cluster\supervised.py:746: FutureWarning: The behavior of AMI will change in version 0.22. To match the behavior of 'v_measure_score', AMI will use average_method='arithmetic' by default.
  FutureWarning)
c:\users\administrator\python\python36\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

adjusted_mutual_info 0.31809909572785794
adjusted_rand 0.20958635088023947
Normalized Mutal Info: 0.3864150514014421
micro_p: 0.2687492301093215
micro_r: 0.4467231737863624
micro_f1: 0.29185557800534195
#labeled tweets: 1512 #unlabeled tweets: 189
#labels: 28 #preds: 40

In [137]:
match

     label      pred    a    b    c         r         p        f1
27     503  126629.0   19    9    5  0.791667  0.678571  0.730769
172     21  264069.0  134   93   11  0.924138  0.590308  0.720430
130     83  230208.0   90  153    4  0.957447  0.370370  0.534125
15      77  138992.0   23   34    8  0.741935  0.403509  0.522727
77     244  168843.0    7    0   16  0.304348  1.000000  0.466667
64     106  144038.0    7    0   16  0.304348  1.000000  0.466667
58       0  140495.0   95   97  152  0.384615  0.494792  0.432802
101    427  212594.0   71  117   70  0.503546  0.377660  0.431611
42     424  118804.0    9    0   40  0.183673  1.000000  0.310345
59     419  140495.0   46  146   74  0.383333  0.239583  0.294872
120    421  230208.0   46  197   54  0.460000  0.189300  0.268222
66     480  140551.0    3    0   17  0.150000  1.000000  0.260870
31     239  118077.0   18   36   72  0.200000  0.333333  0.250000
161      1  264069.0   34  193   22  0.607143  0.149780  0.240283
2      243  115101.0    8   36   19  0.296296  0.181818  0.225352
100    426  212594.0   31  157   86  0.264957  0.164894  0.203279
34     246  118077.0   12   42   57  0.173913  0.222222  0.195122
195    422      -1.0   28  161   73  0.277228  0.148148  0.193103
5      240   37540.0    3    0   26  0.103448  1.000000  0.187500
71     477  168823.0   16  127   32  0.333333  0.111888  0.167539
142    429  250231.0    9   85   14  0.391304  0.095745  0.153846
47     472  118769.0    3   25    8  0.272727  0.107143  0.153846
50     238  118769.0    2   26    7  0.222222  0.071429  0.108108
1      420  115101.0    3   41   10  0.230769  0.068182  0.105263
160     85  264069.0   12  215    8  0.600000  0.052863  0.097166
23     475  126629.0    2   26   16  0.111111  0.071429  0.086957
111    423  212594.0    9  179   24  0.272727  0.047872  0.081448
80     428  168823.0    6  137   14  0.300000  0.041958  0.073620

In [138]:
label_tweets = tweets_with_label[tweets_with_label['label'] == 21]['tweet_id']
label_text = results_df[results_df['tweet_id'].isin(set(label_tweets))]
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
label_text

                   tweet_id     label
1465114  256530226207662080  264069.0
1465780  256530356273045505  264069.0
1465951  256530385624788992  264069.0
1465955  256530389701648385  264069.0
1466048  256530406558539776  264069.0
1466069  256530402435543040  264069.0
1466148  256530419393114112  264069.0
1466151  256530419401494528  264069.0
1466282  256530444420530176  225595.0
1466306  256530448409313280  264069.0
1466317  256530452687507456  264069.0
1466344  256530456953098240  264069.0
1466348  256530461080313858  264069.0
1466375  256530461327757312  264069.0
1466385  256530469473120257  264069.0
1466403  256530465383649281  264069.0
1466518  256530486141255682  264069.0
1466521  256530486329999360  264069.0
1466552  256530486506172416  264069.0
1466566  256530486510366720  264069.0
1466745  256530519980920832  264069.0
1466747  256530528465977344  264069.0
1466766  256530524171034624  264069.0
1466819  256530532664500224  264069.0
1466874  256530541032136704  264069.0
1466890  256530545054470144  264069.0
1466909  256530545071243264  264069.0
1466955  256530557645766656  264069.0
1466973  256530553560502272  264069.0
1466974  256530553447251968  264069.0
1467000  256530557847085056  220038.0
1467016  256530561982685184  264069.0
1467043  256530570056712192  181224.0
1467071  256530574443958273  264069.0
1467077  256530570308354048  264069.0
1467125  256530574519435264  264069.0
1467178  256530582828359680  264069.0
1467180  256530586846498816  264069.0
1467192  256530591292469248  248197.0
1467210  256530595201560577  264069.0
1467239  256530599634927616  264069.0
1467242  256530599584595969  264069.0
1467292  256530603682439168  264069.0
1467294  256530599781740544  264069.0
1467311  256530607893536768  264069.0
1467323  256530611962015745  264069.0
1467461  256530632958693376  264069.0
1467480  256530633172586496  264069.0
1467510  256530641397633024  264069.0
1467545  256530645650636800  264069.0
1467552  256530649756860416  264069.0
1467556  256530645877153792  264069.0
1467560  256530649979166720  264069.0
1467561  256530654022479872  264069.0
1467648  256530666743799810  264069.0
1467660  256530666680885248  264069.0
1467723  256530675170177025  264069.0
1467749  256530679343480832  264069.0
1467825  256530687656599553  253224.0
1467847  256530696120721409  264069.0
1467855  256530696082960386  264069.0
1467868  256530696217182208  264069.0
1467908  256530700268879872  264069.0
1467947  256530708506501120  264069.0
1467999  256530721064247296  248197.0
1468019  256530725363384320  264069.0
1468056  256530733647155202  264069.0
1468075  256530733680709632  264069.0
1468141  256530750428569600  264069.0
1468152  256530746406215680  264069.0
1468176  256530750499864576  264069.0
1468182  256530750667640833  264069.0
1468256  256530763305070593  264069.0
1468394  256530788445716481  264069.0
1468398  256530788332474370  264069.0
1468449  256530796670763009  265444.0
1468553  256530809488551936  246746.0
1468593  256530817780686849  264069.0
1468599  256530821912084480  264069.0
1468623  256530826118963200  264069.0
1468661  256530834448850944  264069.0
1468743  256530838869667840  264069.0
1468803  256530855500054528  209800.0
1468807  256530855537811457  264069.0
1468811  256530855344873472  264069.0
1469068  256530897443094528  264069.0
1469152  256530910147653632  264069.0
1469318  256530943425249280  264069.0
1469355  256530943614001152  264069.0
1469360  256530947833462784  264069.0
1469740  256531018922733568  264069.0
1469793  256531031639863296  264069.0
1469799  256531031472103424  264069.0
1469818  256531027349082112  264069.0
1469861  256531035641237504  264069.0
1469886  256531040045248513  264069.0
1469960  256531056705036288  264069.0
1470021  256531073348038656  242572.0
1470085  256531077684936704  264069.0
1470106  256531085956096003  264069.0
1470208  256531102930460673  264069.0
1470242  256531107212849154  264069.0
1470441  256531144747651072  264069.0
1470489  256531157385101312  264069.0
1470769  256531207607709696  264069.0
1470946  256531232970653697  264069.0
1471044  256531253841518592  264069.0
1471171  256531283218407425  264069.0
1471425  256531333772353536  264069.0
1471552  256531358762037249  264069.0
1471841  256531400885411840  264069.0
1471853  256531408892342272  264069.0
1471930  256531425669562368  264069.0
1472132  256531459333038080  264069.0
1472284  256531484524044289  264069.0
1472693  256531560067649537  264069.0
1473007  256531618645282818  264069.0
1473324  256531681689870338  264069.0
1473559  256531723758739456  264069.0
1473982  256531803383418882  264069.0
1473993  256531811843325952  264069.0
1474143  256531841039884288  264069.0
1474450  256531904155746304  264069.0
1474693  256531954260901889  264069.0
1474827  256531983591686144  264069.0
1475015  256532021596266496  264069.0
1475049  256532033931714561  264069.0
1475866  256532185241235456  264069.0
1476893  256532373875867649  255086.0
1478112  256532625395695618  264069.0
1478116  256532621197197312  264069.0
1478549  256532717536157697  264069.0
1478679  256532734346944514  264069.0
1478686  256532734292414464  264069.0
1479380  256532864391315456  264069.0
1480332  256533048898752512  264069.0
1483565  256533678178594816  264069.0
1484009  256533770637819904  264069.0
1484624  256533883670126594  264069.0
1486021  256534160649371648  264069.0
1492421  256535423130689536  264069.0
1496017  256536115006283776  264069.0
1503597  256537549470855168  264069.0
1507507  256538295939510273  264069.0
1517311  256540187822268416  264069.0

In [112]:
preds = results_df[results_df['label'] == 146423]
preds

,tweet_id,label,text
948550,256424089558859776,146423,Appeals court reverses ban on Samsung's Galaxy...
949549,256424278361272320,146423,Court reverses Galaxy Nexus sales ban in the U...
949612,256424294878433283,146423,Apple's US injunction on Samsung Galaxy Nexus ...
950063,256424374750564352,146423,Court reverses Galaxy Nexus sales ban in the U...
950525,256424454501048320,146423,Court reverses Galaxy Nexus sales ban in the U...
...,...,...,...
1084206,256453952743280640,146423,US Appeals Court Overturns Samsung Galaxy Nexu...
1084219,256453952747474944,146423,Appeals Court Overturns Sales Ban on Samsung G...
1084326,256453977833631744,146423,[WIRED_GADGET] U.S. Appeals Court Lifts Galaxy...
1084473,256454003238531072,146423,Gadget Lab: U.S. Appeals Court Lifts Galaxy Ne...
1084654,256454032774795265,146423,Court reverses earlier sales ban Apple won on ...

In [116]:
label_text[label_text['tweet_id'].isin(set(preds['tweet_id']))]['text'].tolist()

["Appeals court reverses ban on Samsung's Galaxy Nexus: The latest ruling from an appeals court reverses a decisio... http://t.co/sbx6LqEH",
 'Court reverses Galaxy Nexus sales ban in the US http://t.co/MtEApbcN',
 "Apple's US injunction on Samsung Galaxy Nexus reversed by appeals court http://t.co/u0RrOG1V",
 'Court reverses Galaxy Nexus sales ban in the US:   A United States appeals court has overturned the injunction b... http://t.co/eH579Qeo',
 'Court reverses Galaxy Nexus sales ban in the US:   A United States appeals court has overturned the injunction b... http://t.co/FK8XbWFN',
 'Engadget Court reverses Galaxy Nexus sales ban in the US:   A United States appeals court has overturned the inj... http://t.co/Xj3q9TZW',
 'Court reverses Galaxy Nexus sales ban in the US via @engadget http://t.co/Vgc0mWFn',
 '#TheHapticProject Court reverses Galaxy Nexus sales ban in the US http://t.co/byU3JpFp @engadget',
 'Court reverses Galaxy Nexus sales ban in the US:   A United States appeals court has overturned the injunction b... http://t.co/XpYVs56T',
 'Court reverses Galaxy Nexus sales ban in the US:   A United States appeals court has overturned the injunction b... http://t.co/gzD1acD1',
 'Court reverses Galaxy Nexus sales ban in the US.. http://t.co/CJWqNJ9F -  #galaxys3 #android',
 'Appeals Court Reverses Sales Ban on Samsung Smartphone http://t.co/BQdoRFp3',
 'Appeals court reverses sales ban on Samsung smartphone',
 'Court reverses Galaxy Nexus sales ban in the US - Engadget: The West AustralianCourt reverses Galaxy Nexus sales... http://t.co/eeg1IARq',
 'Appeals court nixes Galaxy Nexus ban in Apple patent war http://t.co/g23ixxx0',
 'Appeals court overturns Galaxy Nexus injunction:  A U.S. appeals court has overturned the injun... http://t.co/DYSkk8G9 #xoopia #android',
 'Wow. How many papercuts went into this? |Court reverses Galaxy Nexus sales ban in the US  http://t.co/fMcj4Scs',
 "Court Overturns Ban on Samsung's Galaxy Nexus http://t.co/RXNL33Ba",
 'Court reverses Galaxy Nexus sales ban in the US - Engadget: The West AustralianCourt reverses Galaxy Nexus sales... http://t.co/8ObRgBEu',
 'Court reverses earlier sales ban Apple won on Samsung Galaxy Nexus: Very soon you’ll again be able to buy a Gala... http://t.co/BNOXZDLH',
 '#Design Court reverses Galaxy Nexus sales ban in the US http://t.co/I95iwywC @Athenna_Design',
 "Appeals Court Overturns Ban on Samsung Galaxy Nexus: In the aftermath of Apple's patent trial win over Samsung, ... http://t.co/9sPI64xM",
 'MacRumors: Appeals Court Overturns Ban on Samsung Galaxy Nexus http://t.co/Eqyu7XTT',
 "Appeals Court Overturns Ban on Samsung Galaxy Nexus: In the aftermath of Apple's patent trial win over Samsung, ... http://t.co/nRYQVW0u",
 'Appeals Court Overturns Ban on Samsung Galaxy Nexus http://t.co/gduXSQIe',
 'Appeals Court Overturns Ban on Samsung Galaxy Nexus http://t.co/azvCCbVJ #Apple #iPhone #iPad',
 "Appeals Court Overturns Ban on Samsung Galaxy Nexus: In the aftermath of Apple's patent trial win over Samsung, ... http://t.co/KVo1vyTV",
 'Appeals Court Overturns Ban on Samsung Galaxy Nexus http://t.co/35BDohBF',
 "Appeals Court Overturns Ban on Samsung Galaxy Nexus: In the aftermath of Apple's patent trial win over Samsung, ... http://t.co/FHgWgMVh",
 "Appeals Court Overturns Ban on Samsung Galaxy Nexus: In the aftermath of Apple's patent trial win over Samsung, ... http://t.co/miapAyx4",
 "Appeals Court Overturns Ban on Samsung Galaxy Nexus: In the aftermath of Apple's patent trial win over Samsung, ... http://t.co/MoABLDzk",
 'Apple’s US injunction on Samsung Galaxy Nexus reversed by appeals court http://t.co/Bn11IdAW',
 'Court reverses Galaxy Nexus sales ban in the US http://t.co/ovfKgkwy',
 'Appeals Court Overturns Sales Ban on Samsung Galaxy Nexus http://t.co/QSVfI0Ml',
 'Appeals court reverses ban on Samsung Galaxy Nexus in Apple patent dispute: A U.S. appeals court on Thursday ove... http://t.co/6lugzwxV',
 '$AAPL - Court Tosses Injunction Banning Sales of Samsung Galaxy Nexus Phone http://t.co/6O7Vgu7X',
 'Appeals court nixes a Galaxy Nexus ban requested by Apple http://t.co/AQEkGhnA',
 'U.S. court reverses Apple’s injunction on Samsung Galaxy Nexus: Back in June, U.S. Judge Lucy Koh granted Apple’... http://t.co/leEgBcJA',
 'U.S. court reverses Apple’s injunction on Samsung Galaxy Nexus: Back in June, U.S. Judge Lucy Koh g... http://t.co/C3SlTxPj #Tech #Apple',
 'Appeals court reverses ban on Samsung Galaxy Nexus in Apple patent dispute (AppleInsider) http://t.co/Da9KFcJG',
 'US federal appeals court reverses Galaxy Nexus sales ban http://t.co/oNmAgtvv by @cfarivar',
 'Appeals court reverses ban on Samsung Galaxy Nexus in Apple patent dispute http://t.co/PMmAXy37 #apple #itunes #iphone #ipod',
 'U.S. court reverses Apple’s injunction on Samsung Galaxy Nexus http://t.co/CEKzoSgA',
 'US federal appeals court reverses Galaxy Nexus sales ban: The United States Court of Appeals for the Federal Dis... http://t.co/Hpa7dgwa',
 'US federal appeals court reverses Galaxy Nexus sales ban http://t.co/Ab8K15Rn',
 'US federal appeals court reverses Galaxy Nexus sales ban http://t.co/S0pns9ge',
 'U.S. court reverses Apple’s injunction on Samsung Galaxy Nexus http://t.co/1A3QvaFl #Kml_iStore',
 'Appeals court nixes a Galaxy Nexus ban requested by Apple: The ruling reverses a lower-court decision that halted... http://t.co/SbUI2mpQ',
 'US appeals court lifts ban on Samsung-Google phone: A US appeals court Thursday lifted a sales ban on Goog... http://t.co/r54RvmFq #News',
 'Apple-Samsung patent issue: US appeals court lifts ban on Samsung-Google ... - Economic Times http://t.co/3VQIhyjl #AppleNews',
 'BOOOM!! What now Apple?!?! US federal appeals court reverses Galaxy Nexus sales ban http://t.co/WVbFYD0f',
 'US federal appeals court reverses Galaxy Nexus sales ban http://t.co/UTEWS4vo',
 '#Tech Appeals court reverses ban on Samsung Galaxy Nexus in Apple patent dispute - Apple Insider: Apple In... http://t.co/3E5LauRn #News',
 'Galaxy Nexus sales ban overturned by US appeal court http://t.co/nPP2tm6b #Android',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a preliminary injuncti...',
 'Appeals Court Overturns Sales Ban on Samsung Galaxy Nexus http://t.co/nlgs1ruT',
 'US federal appeals court reverses Galaxy Nexus sales ban | Ars Technica http://t.co/leedGinH',
 'U.S. Appeals Court Lifts Galaxy Nexus Sales Ban: A U.S. appeals court reversed a preliminary injunction on Samsu... http://t.co/EaJkNLjz',
 'WiredTopStories U.S. Appeals Court Lifts Galaxy Nexus Sales Ban: A U.S. appeals court rever... http://t.co/kpfMuU1O #tech #business #Fx3',
 'U.S. Appeals Court Lifts Galaxy Nexus Sales Ban: A U.S. appeals court reversed a preliminary injunction on Samsu... http://t.co/nAhWO1Kd',
 'Court reverses Galaxy Nexus sales ban in the US http://t.co/gABZ3AbD',
 '#katlemWorldRekordz US court lifts ban on Samsung-Google phone: A US appeals court Thursday ... http://t.co/OPmlZI23 #katlemWorldRekordz',
 'Apple Loses Court Ruling Against Samsung Which Lifts Ban On Galaxy Nexus Sales In US: Interested in buying a... http://t.co/G5R1ErPb #iOS',
 'Apple vs. Samsung: Appeals Court Lifts Galaxy Nexus Sales Ban: After losing the patent battle to Apple Inc.... http://t.co/OLa1KkCp $QQQ',
 'Appeals court reverses Samsung Galaxy Nexus ban requested by Apple http://t.co/hVgOOw20',
 'iClarified: U.S. Appeals Court Overturns Injunction on Samsung Galaxy Nexus http://t.co/R6PIGHws',
 'US Appeals Court Overturns Samsung Galaxy Nexus Injunction http://t.co/6rFejyng',
 'Appeals Court Overturns Sales Ban on Samsung Galaxy Nexus http://t.co/TJYrwNHT',
 '[WIRED_GADGET] U.S. Appeals Court Lifts Galaxy Nexus Sales Ban: A U.S. appeals court reversed a preliminary inju... http://t.co/RWPgI1pz',
 'Gadget Lab: U.S. Appeals Court Lifts Galaxy Nexus Sales Ban: A U.S. appeals court reversed a preliminary injunct... http://t.co/y1GRBow9',
 'Court reverses earlier sales ban Apple won on Samsung Galaxy Nexus http://t.co/eMJpiC1d']

In [120]:
label_text[~label_text['tweet_id'].isin(set(preds['tweet_id']))]['text'].tolist()

['Samsung Can Resume Selling Galaxy Nexus After Court Reverses Injunction $GOOG by @stevekovach http://t.co/hsPCMbb4',
 'Samsung Can Resume Selling Galaxy Nexus After Court Reverses Injunction (GOOG) http://t.co/AhwiJCvM',
 'Apple’s earned injunction on Samsung Galaxy Nexus reversed by appeals court: The injunction on the Samsung Galax... http://t.co/CbxqnzoE',
 'Apple’s earned injunction on Samsung Galaxy Nexus reversed by appeals court http://t.co/hhcFWmap',
 'Apple’s earned injunction on Samsung Galaxy Nexus reversed by appeals court http://t.co/Eud8p0Uz #tnw',
 '#tech Samsung Can Resume Selling Galaxy Nexus After Court Reverses Injunction http://t.co/xJGuM04F',
 'US appeals court overturns preliminary injunction banning sale of Samsung Galaxy Nexus smartphone http://t.co/J0yIrvD5',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a... http://t.co/VuhAmCdE',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a... http://t.co/XaOGbo43',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a... http://t.co/bgmjNaQC',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a... http://t.co/mIfwltEA',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a... http://t.co/WRH3gWlV',
 'Appeals court reverses sales ban on Samsung smartphone: WASHINGTON (Reuters) - A U.S. appeals court overturned a... http://t.co/LGIaNZV8',
 "by AllThingsD -  Court Overturns Ban on Samsung's Galaxy Nexus http://t.co/b1nigXgJ #Mobile #News",
 'BGR Appeals court reverses sales ban on Galaxy Nexus:  U.S. District Court Judge Lucy Koh\xa0granted a preliminary ... http://t.co/AZD5lXg5',
 'Samsung Can Resume Selling Galaxy Nexus After Court Reverses Injunction (GOOG) http://t.co/sSH1f58r',
 "Apple's US injunction on Samsung Galaxy Nexus reversed by appeals court (Matthew Panzarino/The Next Web) http://t.co/RzuGVTBY",
 "Court Overturns Ban on Samsung's Galaxy Nexus http://t.co/N4IVSaql",
 'Appeals court reverses injunction on Samsung Galaxy Nexus in the US http://t.co/rjxMwEuR via @verge',
 '“@dcseifert: Appeals court reverses injunction on Samsung Galaxy Nexus in the US http://t.co/8xk7dLOC via @verge”',
 "$AAPL Apple's US injunction on Samsung Galaxy Nexus reversed by appeals court - The Next Web - http://t.co/bLB8uHoV",
 'Appeals court reverses sales ban on Samsung smartphone http://t.co/GrrPOJ0G',
 'CNN Apple Blog: Appeals court lifts Apple ban on Samsung Galaxy Nexus: Overturns an injunction based on 1 of 8 p... http://t.co/pRZH8HJQ',
 'U.S. Appeals Court Lifts Galaxy Nexus Sales Ban: The temporary sales ban of the Samsung Galaxy Nexus was overtur... http://t.co/CA0k9AZN',
 'U.S. Appeals Court Reverses Apple Injunction on Google’s Galaxy Nexus http://t.co/dlss6NBs',
 'US Court of Appeals reverses Galaxy Nexus ban, will unified search return?.. http://t.co/Jnm3Rp5f -  #galaxys3 #android',
 "Samsung Galaxy Nexus ban overturned as court deals blow to Apple: Judges say California court 'abused its discre... http://t.co/Ho4D5AZV",
 '#Samsung Galaxy Nexus ban overturned as court deals blow to #Apple http://t.co/yMaDplUz #smartphonepatentwars',
 'Samsung’s Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction: After stating that a Califor... http://t.co/S3CtNllA',
 'Samsung’s Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction: After stating that a Califor... http://t.co/9YwWSWox',
 "Samsung Galaxy Nexus ban overturned as court deals blow to Apple: Judges say California court 'abused its discre... http://t.co/RmotKtWl",
 'Samsung’s Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction http://t.co/1KFFAYCW #Balakam',
 'TouchéComm Samsung’s Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction: After stating tha... http://t.co/zfFyxFh1',
 "Appeals Court Overturns Sales Ban on Samsung Galaxy Nexus: Prior to Apple's patent trial win over ... http://t.co/XszEYiDL via@macrumors",
 '#Guardian #Tech #News: "Samsung Galaxy Nexus ban overturned as court deals blow to Apple" http://t.co/EVa0d3wJ http://t.co/ymHjwOSG',
 'Appeals court reverses ban on Samsung Galaxy Nexus http://t.co/950csJjv #apple',
 "Ban on Samsung's Galaxy Nexus overturned by U.S. appeals court http://t.co/V1QqEc4W @Macworld",
 'Samsung Galaxy Nexus Sales Ban Reversed in the United States #apple #samsung http://t.co/xfsIeuuc',
 'Appeals court reverses Galaxy Nexus sales ban http://t.co/7RYPG6E5',
 'Court Overturns Ban on Samsung’s Galaxy Nexus A U.S. appeals court on Thursday overturned an Apple-won preliminary… http://t.co/G3Xp243L',
 'Samsung’s Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction: After stating t... http://t.co/KdE3ARtX #Apple $AAPL',
 'Breaking News: Appeals court nixes a Galaxy Nexus ban requested by Apple http://t.co/W6qn6IVI',
 'Samsung’s Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction http://t.co/237G8IGK',
 'Judge Sides With Samsung In Apple Court Battle; Allowed To Sell Galaxy Nexus http://t.co/bB0cEdCP #sanfrancisco',
 'Samsung Galaxy Nexus Sales Ban Reversed in the United States #apple #samsung http://t.co/02tgVfOC #neowin',
 "Ban on Samsung's Galaxy Nexus overturned by U.S. appeals court:   A ban on imports of Samsung’s Galaxy Nexus i... http://t.co/8w5kWNNB",
 'Samsung Galaxy Nexus U.S. injunction overturned by Court of Appeals: A U.S. Court of Appeals has now overturned ... http://t.co/ZnZHc7xM',
 'Samsung Galaxy Nexus U.S. injunction overturned by Court of Appeals: A U.S. Court of Appeals has now overturned ... http://t.co/SoArkxU6',
 "TechRadarUK: US appeals court lifts ban on Samsung Galaxy Nexus: Apple's recent victory over Samsung, when a Cal... http://t.co/nZ1TacUJ",
 'Samsung Galaxy Nexus ban overturned as court deals blow to Apple http://t.co/1OxLKkSn',
 'U.S. Appeals Court Reverses Apple Injunction on Google’s Galaxy Nexus http://t.co/F82pQB2L',
 'Court reverses Galaxy Nexus sales ban in the US http://t.co/xM0Ye1IO via @engadget Is this surprising or expected? #nucomm2052',
 'Samsung Galaxy Nexus injunction reversed by appeals court:  Do you remember all the patches and workarounds that... http://t.co/bzQ3ZNOY',
 'Samsung Galaxy Nexus injunction reversed by appeals court:  Do you remember all the patches and workaro... http://t.co/tyDuKF2R #Android',
 'Samsung Galaxy Nexus injunction reversed by appeals court:  Do you remember all the patches and workarounds that... http://t.co/ej2GeyRQ',
 'Samsung Galaxy Nexus injunction reversed by appeals court http://t.co/x0Ehvn8b',
 'Court overturns injunction against Samsungs Galaxy Nexus smartphone: File art  Samsung won a court victory Thursday, when an appeals ...',
 'United States Appeals Court Overturns Samsung Galaxy Nexus Injunction http://t.co/p6eybYFh',
 "Ban on Samsung's Galaxy Nexus overturned by U.S. appeals court http://t.co/oYG0eOde",
 'Samsung wins reversal of Nexus U.S. sales ban: A court in Washington, D.C., Thursday overturned an in... http://t.co/Evsa6K8d @robsoninc',
 'U.S. court overturns Galaxy Nexus ban http://t.co/z7gKx8ee',
 'U.S. Court Shuts Down Apple’s Injunction Against The Samsung Galaxy Nexus http://t.co/OKmo0zSo',
 'Galaxy Nexus cleared for sale in US http://t.co/utoPpEy6',
 '£1,100.80g £21.18s http://t.co/DFg9IWlD Galaxy Nexus cleared for sale by US court',
 'Appeals court allows Samsung to continue selling Galaxy Nexus http://t.co/cKqJHXtA via @CTVNews',
 'Samsung Galaxy Nexus ban overturned as court deals blow to Apple http://t.co/u9MdX5ZK',
 "Ban on Samsung's Galaxy Nexus overturned by U.S. appeals court (PC World): Share With Friends:  |  | Products - ... http://t.co/ctAjkBmw",
 'US federal appeals court reverses Galaxy Nexus sales ban  http://t.co/OQaURhKk',
 'US appeals court overturns Samsung Nexus smartphone sales ban - Globe and Mail http://t.co/pCr6IgAN',
 "! Samsung's Galaxy Nexus Gets A Reprieve As Appeals Court Overturns Sales Injunction http://t.co/2RkWfro1"]

In [99]:
for label, group_df in df.groupby('label'):
    vectorizer = CountVectorizer(stop_words='english', binary=True)
    count_X = vectorizer.fit_transform(group_df['text'])
    sorted_words = count_X.sum(axis=0).A.argsort()
    vectorizer.inverse_transform(sorted_words)[0]
    
    centroid_word_count = np.zeros_like(count_X.A)
    centroid_word_count[:, sorted_words[0][:30]] = 1
    cohesion = jaccard_score(count_X.T, centroid_word_count.T, average='macro')
    print('label:', label, 'cohesion:', cohesion, 'size:', count_X.shape[0])
#     break

label: 60510 cohesion: 0.375 size: 4
label: 60590 cohesion: 0.31666666666666665 size: 4
label: 60618 cohesion: 0.6666666666666666 size: 2
label: 60656 cohesion: 0.537037037037037 size: 2
label: 60702 cohesion: 0.7857142857142857 size: 3
label: 60982 cohesion: 0.543859649122807 size: 3
label: 61025 cohesion: 0.6052631578947368 size: 2
label: 61139 cohesion: 0.463768115942029 size: 3
label: 61200 cohesion: 0.5434782608695652 size: 2
label: 61486 cohesion: 0.8157894736842105 size: 2
label: 61534 cohesion: 0.5384615384615385 size: 2
label: 61550 cohesion: 0.6086956521739131 size: 2
label: 61639 cohesion: 0.7777777777777778 size: 4
label: 61940 cohesion: 0.04329273094752971 size: 18
label: 62011 cohesion: 0.0489778676883119 size: 16
label: 62437 cohesion: 0.11075245285771601 size: 9
label: 62491 cohesion: 0.30434782608695654 size: 4
label: 76143 cohesion: 0.35555555555555557 size: 3
label: 76474 cohesion: 0.07216893728521635 size: 11
label: 76547 cohesion: 0.7307692307692308 size: 2
label: 76796 cohesion: 0.10732786357786359 size: 8
label: 77216 cohesion: 0.6944444444444444 size: 2
label: 77691 cohesion: 0.34375 size: 4
label: 77815 cohesion: 0.84375 size: 2
label: 77952 cohesion: 0.02916243958630648 size: 26
label: 78082 cohesion: 0.4761904761904762 size: 3
label: 83614 cohesion: 0.5507246376811594 size: 3
label: 83641 cohesion: 0.537037037037037 size: 2
label: 83844 cohesion: 0.012117467985797346 size: 63
label: 84041 cohesion: 0.2661290322580645 size: 8
label: 84142 cohesion: 0.25161290322580643 size: 5
label: 84239 cohesion: 0.03363813697761515 size: 22
label: 84544 cohesion: 0.78125 size: 2
label: 84666 cohesion: 0.8461538461538461 size: 3
label: 84743 cohesion: 0.03005407931759545 size: 25
label: 84804 cohesion: 0.03411252329039905 size: 23
label: 84976 cohesion: 0.06482189409820989 size: 12
label: 85163 cohesion: 0.5625000000000001 size: 4
label: 85343 cohesion: 0.6538461538461539 size: 2
label: 85484 cohesion: 0.026447507702572124 size: 28
label: 114575 cohesion: 0.26713709677419356 size: 4
label: 114633 cohesion: 0.03494672255510114 size: 21
label: 114720 cohesion: 0.5274725274725275 size: 7
label: 114759 cohesion: 0.9230769230769231 size: 2
label: 114912 cohesion: 0.6666666666666666 size: 2
label: 115087 cohesion: 0.4791666666666667 size: 3
label: 115288 cohesion: 0.8157894736842105 size: 2
label: 115300 cohesion: 0.5769230769230769 size: 2
label: 115329 cohesion: 0.16920634920634922 size: 5
label: 115450 cohesion: 0.03551985770468023 size: 22
label: 115477 cohesion: 0.025428686521599634 size: 29
label: 115715 cohesion: 0.6124999999999999 size: 4
label: 115756 cohesion: 0.04057202445824837 size: 19
label: 115851 cohesion: 0.5499999999999999 size: 3
label: 116064 cohesion: 0.2292780748663102 size: 4
label: 116152 cohesion: 0.20039118065433853 size: 4
label: 116433 cohesion: 0.8181818181818182 size: 2
label: 116465 cohesion: 0.5619047619047619 size: 5
label: 116502 cohesion: 0.4236453201970444 size: 7
label: 116956 cohesion: 0.09074325361986768 size: 9
label: 117009 cohesion: 0.22282608695652173 size: 8
label: 117236 cohesion: 0.9545454545454546 size: 2
label: 117965 cohesion: 0.625 size: 4
label: 118320 cohesion: 0.39393939393939387 size: 3
label: 118331 cohesion: 0.6111111111111112 size: 2
label: 144084 cohesion: 0.10192182055749129 size: 8
label: 144266 cohesion: 0.05710045644256171 size: 14
label: 144280 cohesion: 0.41269841269841273 size: 7
label: 144530 cohesion: 0.9 size: 2
label: 144642 cohesion: 0.04576637641464342 size: 17
label: 144646 cohesion: 0.6764705882352942 size: 2
label: 144913 cohesion: 0.39285714285714285 size: 4
label: 144987 cohesion: 0.5714285714285714 size: 2
label: 145230 cohesion: 0.5434782608695652 size: 2
label: 145243 cohesion: 0.2388888888888889 size: 6
label: 145272 cohesion: 0.05803627720920955 size: 14
label: 145279 cohesion: 0.184355420565098 size: 5
label: 145398 cohesion: 0.03850707619160764 size: 20
label: 145408 cohesion: 0.631578947368421 size: 5
label: 145497 cohesion: 0.30666666666666664 size: 5
label: 145589 cohesion: 0.6875 size: 5
label: 145682 cohesion: 0.07157495925146759 size: 11
label: 145698 cohesion: 0.17399463281816224 size: 5
label: 145699 cohesion: 0.8125 size: 2
label: 145744 cohesion: 0.1117667766089812 size: 7
label: 145763 cohesion: 0.16122614210849506 size: 6
label: 145998 cohesion: 0.0443369678987355 size: 17
label: 146183 cohesion: 0.6333333333333334 size: 4
label: 146391 cohesion: 0.9230769230769231 size: 2
label: 146423 cohesion: 0.010123717041186744 size: 71
label: 146553 cohesion: 0.328 size: 5
label: 146723 cohesion: 0.21827731092436975 size: 4
label: 146821 cohesion: 0.5 size: 4
label: 146886 cohesion: 0.04107037892278676 size: 19
label: 146977 cohesion: 0.021368303990820292 size: 35
label: 147219 cohesion: 0.5833333333333334 size: 3
label: 151463 cohesion: 0.07656528680277075 size: 10
label: 151578 cohesion: 0.6176470588235294 size: 2
label: 151958 cohesion: 0.008810877078813544 size: 92
label: 152051 cohesion: 0.04547346052722302 size: 17
label: 152070 cohesion: 0.2606060606060606 size: 5
label: 152379 cohesion: 0.37333333333333335 size: 6
label: 152415 cohesion: 0.025146662210248964 size: 29
label: 152473 cohesion: 0.5 size: 2
label: 152583 cohesion: 0.75 size: 3
label: 152740 cohesion: 0.0403756350770066 size: 19
label: 152997 cohesion: 0.6 size: 2
label: 153024 cohesion: 0.016738420809474495 size: 47
label: 153289 cohesion: 0.26666666666666666 size: 5
label: 153296 cohesion: 0.4224137931034483 size: 4
label: 166274 cohesion: 0.02964659775188968 size: 26
label: 166281 cohesion: 0.625 size: 2
label: 166303 cohesion: 0.3968253968253968 size: 7
label: 166748 cohesion: 0.49122807017543857 size: 3
label: 166808 cohesion: 0.3548387096774193 size: 3
label: 166836 cohesion: 0.8636363636363636 size: 2
label: 166998 cohesion: 0.359375 size: 4
label: 167032 cohesion: 0.12255478785438009 size: 7
label: 167247 cohesion: 0.059731520514002635 size: 14
label: 167303 cohesion: 0.7272727272727273 size: 2
label: 167332 cohesion: 0.08219002477023868 size: 11
label: 167378 cohesion: 0.021210824187502902 size: 40
label: 167397 cohesion: 0.8333333333333334 size: 3
label: 167406 cohesion: 0.6875 size: 2
label: 167449 cohesion: 0.38333333333333336 size: 4
label: 167477 cohesion: 0.5964912280701754 size: 3
label: 167485 cohesion: 0.7083333333333333 size: 2
label: 167562 cohesion: 0.5 size: 2
label: 167603 cohesion: 0.3846153846153846 size: 3
label: 167646 cohesion: 0.18260732323232323 size: 6
label: 167654 cohesion: 0.7222222222222222 size: 2
label: 167903 cohesion: 0.575 size: 2
label: 167927 cohesion: 0.24291524711057447 size: 4
label: 168017 cohesion: 0.5714285714285714 size: 3
label: 168046 cohesion: 0.5 size: 2
label: 168108 cohesion: 0.02297754571204492 size: 37
label: 168117 cohesion: 0.8529411764705882 size: 2
label: 168142 cohesion: 0.4202898550724637 size: 3
label: 168191 cohesion: 0.8333333333333333 size: 2
label: 168262 cohesion: 0.1989795918367347 size: 7
label: 168283 cohesion: 0.6842105263157894 size: 2
label: 168301 cohesion: 0.5238095238095238 size: 7
label: 168379 cohesion: 0.5576923076923077 size: 2
label: 168406 cohesion: 0.5 size: 2
label: 168437 cohesion: 0.5769230769230769 size: 2
label: 168479 cohesion: 0.2818181818181818 size: 5
label: 168546 cohesion: 0.038692258418043475 size: 21
label: 168557 cohesion: 0.41964285714285715 size: 4
label: 168748 cohesion: 0.6666666666666667 size: 2
label: 168858 cohesion: 0.3055555555555556 size: 6
label: 168998 cohesion: 0.08122298122298122 size: 10
label: 169150 cohesion: 0.04743867243867244 size: 21
label: 176377 cohesion: 0.07499507325710535 size: 11
label: 176719 cohesion: 0.7777777777777778 size: 3
label: 177123 cohesion: 0.5789473684210527 size: 9
label: 177127 cohesion: 0.40740740740740744 size: 3
label: 177329 cohesion: 0.4666666666666666 size: 3
label: 177668 cohesion: 0.823529411764706 size: 3
label: 178220 cohesion: 0.9090909090909091 size: 2
label: 178307 cohesion: 0.12243166734542232 size: 7
label: 178919 cohesion: 0.18379820519039533 size: 5
label: 179623 cohesion: 0.1939655172413793 size: 8
label: 179657 cohesion: 0.6 size: 2
label: 179754 cohesion: 0.6818181818181819 size: 2

label: 179947 cohesion: 0.2386029411764706 size: 5
label: 179964 cohesion: 0.5 size: 2
label: 180163 cohesion: 0.6140350877192983 size: 3
label: 180215 cohesion: 0.4523809523809524 size: 3
label: 180428 cohesion: 0.4010989010989011 size: 13
label: 180477 cohesion: 0.5789473684210527 size: 2
label: 180655 cohesion: 0.5476190476190477 size: 2
label: 180897 cohesion: 0.625 size: 2

In [72]:
sorted_words = count_X.sum(axis=0).A.argsort()
# vectorizer.inverse_transform(sorted_words)[0]
count_X.shape[1]
centroid_word_count = np.zeros_like(count_X.A)
centroid_word_count[:, sorted_words[0][:20]] = 1

In [92]:
jaccard_score(count_X.T, centroid_word_count.T, average='macro')

0.02294023285927256

In [83]:
for row, cent in zip(count_X.A, centroid_word_count):
    a = set(np.where(row)[0])
    b = set(np.where(cent)[0])
    print(len(a&b) / len(a|b))
    break

0.07142857142857142

In [81]:
np.where(cent)

(array([  0, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146,
        148, 149, 150, 151, 152, 153, 154], dtype=int64),)

In [74]:
centroid_word_count.shape

(30, 219)

In [64]:
sorted_words

array([[  0, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 135, 146,
        148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 147, 134, 133,
        132, 107, 108, 217, 110, 111, 113, 114, 115, 116, 117, 118, 119,
        120, 121, 123, 124, 125, 126, 127, 128, 129, 130, 131, 158, 106,
        159, 161, 192, 193, 194, 195, 196, 198, 199, 200, 201, 202, 191,
        203, 205, 206, 207, 210, 211, 212, 213, 214, 215, 216, 204, 190,
        189, 188, 162, 165, 167, 168, 169, 170, 171, 172, 173, 174, 175,
        176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 160,
        105, 109, 103,  28,  29,  30,  31,  33,  34,  35,  36,  37,  38,
         27,  39,  41,  42,  43,  44,  46,  47,  48, 104,  50,  51,  40,
         52,  26,  24,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
         25,  11,  13,  14,  15,  17,  18,  19,  20,  21,  22,  23,  12,
         53,  49,  55,  78,  79,  54,  81,  82,  83,  84,  85,  86,  87,
         77,  88,  90,  92,  93,  94,  95,  97,  98, 100, 101, 102,  89,
         76,  80, 218,  61,  59,  75,  58,  57,  56,  63,  60,  65,  64,
         67,  68,  69,  70,  71,  72,  73,  74,  66,  99, 163,  96,  32,
        166,  45,  16, 122, 197,  62, 209, 164, 112,  91, 208]],
      dtype=int64)